{
  "content": [
    {
      "id": 2,
      "graphName": "JxkyvRnL"
    },
    {
      "id": 3,
      "graphName": "RYtGKbgicZaHCBRQDSx"
    },
    {
      "id": 1,
      "graphName": "yedUsFwdkelQbxeTeQOvaScfqIOOmaa"
    }
  ],
  "number": 0,
  "total_pages": 1,
  "total_elements": 3
}
